extends ../../layout

block content
  strong ID: 
  =gerente.id
  br
    
  strong Nome: 
  =gerente.nome
  br
  
  strong Telefone: 
  =gerente.telefone
  br
  
  strong Email: 
  =gerente.email
  br

  strong cpf: 
  =gerente.cpf
  br
    
  strong Endereço: 
  =gerente.endereco
  br
    
  a(href="/admin/gerentes/") Voltar
    
      
      
