doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
      
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    
    != js("app")
      
    link(rel='stylesheet', href='/bower_components/fullcalendar/dist/fullcalendar.print.css' media="print")
    link(rel='stylesheet', href='/bower_components/fullcalendar/dist/fullcalendar.css')
    script(src="/bower_components/moment/moment.js")
    script(src='/bower_components/fullcalendar/dist/fullcalendar.js')
    script(src='/bower_components/fullcalendar/dist/lang/pt-br.js')

      
  body
    block content
