extends ../layout_with_menu

block logout_button
    li
        a(href='/gerente/sessions/delete') Logout

block menu
  .list-group
    a.list-group-item(href='/gerente/agenda') Minha Agenda
    a.list-group-item(href='/gerente/ordens-de-servico/new') Criar OS
    a.list-group-item(href='/gerente/ordens-de-servico') Consultar OS's
