extends ../layout

block main_content
  strong ID: 
  =tipoDeVeiculo.id
  br
    
  strong Tipo: 
  =tipoDeVeiculo.tipo
  br
  
  strong Modelo: 
  =tipoDeVeiculo.modelo
  br
  
  strong Marca: 
  =tipoDeVeiculo.marca
  br
    
  a(href="/admin/tipos-de-veiculo/") Voltar
    
      
      
