extends ../../layout

block content
  .row
    .col-md-6.col-md-offset-3
      #calendar
  //- // Button trigger modal
  //- button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
  //-   | Launch demo modal
  //- // Modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    form.form-horizontal(action="/cliente/agendamentos/" method="POST")
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Agendar Consulta
          .modal-body
            .form-group
              label.col-sm-2.control-label Dia:
              .col-sm-10
                input.form-control.js-agendamento-dia(type='text', readonly="")
            .form-group
              label.col-sm-2.control-label Horário:
              .col-sm-10
                input.form-control.js-agendamento-horario(type='text', readonly="")
            .form-group
              label.col-sm-2.control-label Placa do Veículo
              .col-sm-10
                input.form-control(type='text', placeholder='Placa do veículo', name="agendamento[placa]")
            .form-group
              input.form-control.js-agendamento-datetime(type='hidden' value="" name="agendamento[horario]")
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
            button.btn.btn-primary(type='submit') Agendar
  
  script.
    App.Cliente.Agendamentos.index(!{JSON.stringify(agendamentos)});
    
  
