extends ../../layout

block content
  
  #calendar
  //- // Button trigger modal
  //- button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
  //-   | Launch demo modal
  //- // Modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Modal title
        .modal-body
          | Agendar Consulta
          br
          | Dia: 
          input.js-agendamento-dia(type="text" disabled="" value="hue")
          br
          | Horário
          input.js-agendamento-horario(type="text" disabled="" value="hue")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          form(action="/cliente/agendamentos/" method="POST")
            .form-group
              input.form-control.js-agendamento-datetime(type='hidden' value="" name="agendamento[horario]")
            button.btn.btn-primary(type='submit') Submit
  
  script.
    App.Cliente.Agendamentos.index(!{JSON.stringify(agendamentos)});
  
