extends ../layout_with_menu

block logout_button
  li
    a(href='/cliente/sessions/delete') Logout

block menu
  .list-group
    a.list-group-item(href='/cliente/agendamentos/') Meus agendamentos
    a.list-group-item(href='/cliente/agendamentos/index') Agenda da Oficina