extends ../layout

block main_content
  h1 Cadastrar uma Ordem de Serviço

  form.form-horizontal(action="/admin/ordens-de-servico" method="POST")
    
    .form-group
      label.col-sm-2.control-label(for='inputDataDeEmissao') Data de Emissão
      .col-sm-10
        input#inputDataDeEmissao.form-control(type='text', name="ordemDeServico[data_de_emissao]", placeholder='Data de Emissão')
    
    .form-group
      label.col-sm-2.control-label(for='inputDataDeConclusao') Data de Conclusão
      .col-sm-10
        input#inputDataDeConclusao.form-control(type='text', name="ordemDeServico[data_de_conclusao]", placeholder='Data de Conclusão')
    
    .form-group
      label.col-sm-2.control-label(for='inputValor') Valor
      .col-sm-10
        input#inputValor.form-control(type='text', name="ordemDeServico[valor]", placeholder='Valor')

    .form-group
      label.col-sm-2.control-label(for='inputStatus') Status
      .col-sm-10
        input#inputStatus.form-control(type='text', name="ordemDeServico[status]", placeholder='Status')
    
    .form-group
      label.col-sm-2.control-label(for='inputCliente') Cliente
      .col-sm-10
        input#inputCliente.form-control(type='text', name="ordemDeServico[cliente_id]", placeholder='Cliente')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Cadastrar
    
    a(href="/admin/ordens-de-servico/") Voltar
    