extends ../../layout

block content
  strong ID: 
  =atendente.id
  br
    
  strong Nome: 
  =atendente.nome
  br
  
  strong Telefone: 
  =atendente.telefone
  br
  
  strong Email: 
  =atendente.email
  br

  strong cpf: 
  =atendente.cpf
  br
    
  strong Endereço: 
  =atendente.endereco
  br
    
  a(href="/admin/atendentes/") Voltar
    
      
      
