extends ../layout_with_menu

block menu
  .list-group
    a.list-group-item(href='#') Listar Clientes
    a.list-group-item(href='#') Agenda da Oficina
    a.list-group-item(href='#') Meus Agendamentos
