extends ../layout

block main_content
  a(href="/admin/tipos-de-peca/new") Cadastrar novo tipo de peca
  table.table.table-striped
    thead
      tr
        th ID
        th Descrição
        th Preço
    tbody
      each tipoDePeca in tiposDePeca
        tr
          th(scope="row")= tipoDePeca.id
          td= tipoDePeca.descricao
          td= tipoDePeca.preco
          td
            a(href="/admin/tipos-de-peca/"+tipoDePeca.id) Ver

  
