extends ../layout

block main_content
  strong ID: 
  =tipoDePeca.id
  br
    
  strong Descrição: 
  =tipoDePeca.descricao
  br
  
  strong Preço: 
  =tipoDePeca.preco
  br
  
  a(href="/admin/tipos-de-peca/") Voltar