extends ../../layout

block content
  strong ID: 
  =cliente.id
  br
    
  strong Nome: 
  =cliente.nome
  br
  
  strong Telefone: 
  =cliente.telefone
  br
  
  strong Email: 
  =cliente.email
  br

  strong cpf: 
  =cliente.cpf
  br
    
  strong Endereço: 
  =cliente.endereco
  br
    
  a(href="/admin/clientes/") Voltar
    
      
      
