extends ../layout

block content
  h1 Cadastro

  form.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='inputEmail3') Email
      .col-sm-10
        input#inputEmail3.form-control(type='email', placeholder='Email')
    .form-group
      label.col-sm-2.control-label(for='inputPassword3') Password
      .col-sm-10
        input#inputPassword3.form-control(type='password', placeholder='Password')
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          label
            input(type='checkbox')
            |  Remember me
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Sign in
      
