extends ../layout

block content
  h1 Cadastro

  form.form-horizontal(action="/users/create" method="POST")
    
    .form-group
      label.col-sm-2.control-label(for='inputNome') Nome
      .col-sm-10
        input#inputNome.form-control(type='text', name="user[nome]", placeholder='Nome')
    
    .form-group
      label.col-sm-2.control-label(for='inputEmail') Email
      .col-sm-10
        input#inputEmail.form-control(type='email', name="user[email]", placeholder='Email')
    
    .form-group
      label.col-sm-2.control-label(for='inputCpf') CPF
      .col-sm-10
        input#inputCpf.form-control(type='text', name="user[cpf]", placeholder='CPF')
    
    .form-group
      label.col-sm-2.control-label(for='inputTelefone') Telefone
      .col-sm-10
        input#inputTelefone.form-control(type='text', name="user[telefone]", placeholder='Telefone')
    
    .form-group
      label.col-sm-2.control-label(for='inputEndereco') Endereço
      .col-sm-10
        input#inputEndereco.form-control(type='text', name="user[endereco]", placeholder='Endereço')
    
    .form-group
      label.col-sm-2.control-label(for='inputPassword') Senha
      .col-sm-10
        input#inputPassword.form-control(type='password', name="user[password]", placeholder='Senha')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Sign in
      
