extends ../layout

block main_content  
  strong ID: 
  =tecnico.id
  br
    
  strong Nome: 
  =tecnico.nome
  br
  
  strong Telefone: 
  =tecnico.telefone
  br
  
  strong Email: 
  =tecnico.email
  br

  strong cpf: 
  =tecnico.cpf
  br
    
  strong Endereço: 
  =tecnico.endereco
  br
    
  a(href="/admin/tecnicos/") Voltar
    
      
      
