extends ../../layout

block content
  h1 Cadastrar um caixa

  form.form-horizontal(action="/admin/caixas" method="POST")
    
    .form-group
      label.col-sm-2.control-label(for='inputNome') Nome
      .col-sm-10
        input#inputNome.form-control(type='text', name="caixa[nome]", placeholder='Nome')
    
    .form-group
      label.col-sm-2.control-label(for='inputEmail') Email
      .col-sm-10
        input#inputEmail.form-control(type='email', name="caixa[email]", placeholder='Email')
    
    .form-group
      label.col-sm-2.control-label(for='inputCpf') CPF
      .col-sm-10
        input#inputCpf.form-control(type='text', name="caixa[cpf]", placeholder='CPF')
    
    .form-group
      label.col-sm-2.control-label(for='inputTelefone') Telefone
      .col-sm-10
        input#inputTelefone.form-control(type='text', name="caixa[telefone]", placeholder='Telefone')
    
    .form-group
      label.col-sm-2.control-label(for='inputEndereco') Endereço
      .col-sm-10
        input#inputEndereco.form-control(type='text', name="caixa[endereco]", placeholder='Endereço')
    
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Cadastrar
    
    a(href="/admin/caixas/") Voltar
    
      
