extends ../../layout

block content
  strong ID: 
  =caixa.id
  br
    
  strong Nome: 
  =caixa.nome
  br
  
  strong Telefone: 
  =caixa.telefone
  br
  
  strong Email: 
  =caixa.email
  br

  strong cpf: 
  =caixa.cpf
  br
    
  strong Endereço: 
  =caixa.endereco
  br
    
  a(href="/admin/caixas/") Voltar
    
      
      
